@import "/public/static/stylesheets/global.css";
/* Side Icon Button */
.side-icon-button {
    width: auto;
    height: 65px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    -webkit-app-region: no-drag;
    border-radius: 10px;
    margin: 0 3px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-icon-button:hover {
    color: white;
    background-color: var(main-bg-color, rgba(255, 255, 255, 0.2));
}