/* Side Icon Button */
.side-icon-button {
    width: auto;
    height: var(--sidebar-width, 65px);
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    -webkit-app-region: no-drag;
    border-radius: var(--side-button-border-radius, 10px);
    margin: 5px 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-icon-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.side-icon-button.active {
    background-color: rgba(255, 255, 255, 0.2);
}
