.main-section-container {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-sizing: border-box;
    height: 100%;
    width: auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .main-section {
    height: 100%;
    width: auto;
    padding: 0px 7%;
  }
  
  
  
  .grid-container {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: transparent;
  }
  
  .grid-item {
    color: white;
    background-color: rgba(255, 0, 0, 0.7);
    padding: 60px;
    margin: 30px 30px;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow:
      rgba(black, 0.66) 0 30px 60px 0,
      inset #333 0 0 0 5px,
      inset rgba(white, 0.5) 0 0 0 6px;
  }