/* Top bar */
#topbar-container {
    background-color: var(--secondary-bg-color, transparent);
    width: 100%;
    height: var(--topbar-height, 40px);
    -webkit-user-select: none;
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--sidebar-width, 65px);
}