/* Top Option Button */
.top-option-button {
    width: var(--topbar-height, 40px);
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    border-radius: var(--top-button-border-radius, 10px);
    display: inline-block;
    margin: 3px, 0;
}

.top-option-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 5px, 0;
}
