/* Top Bar Content */
.left-options-container {
    width: auto;
    height: var(--topbar-height, 40px);
    display: inline-block;
    padding-left: 20px;
}

.right-options-container {
    width: auto;
    height: var(--topbar-height, 40px);
    display: inline-block;
}

.tabs-container {
    height: var(--topbar-height, 40px);
    width: calc(100% - 305px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
