/* Top Bar Content */
.left-options-container {
    width: auto;
    height: 34px;
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    border-right: 0.005rem rgba(255, 255, 255, 0.3) solid;
}

.right-options-container {
    width: auto;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
}

.tabs-container {
    height: var(--topbar-height, 40px);
    width: calc(100% - 305px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: white;
}
