/* WebView */
.webview-container {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-sizing: border-box;
    height: calc(100% - 40px);
    width: auto;
    overflow: hidden;
}
  
.webview {
    height: 100%;
    width: auto;
}