/* Side Bar Content */
#side-bar {
    min-height: fit-content;
    -webkit-app-region: no-drag;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#side-bar::-webkit-scrollbar {
    width: 0 !important;
    background: transparent;
}

.top-sidebar {
    width: var(--sidebar-width, 65px);
    height: auto;
    overflow-y: hidden;
    border-bottom: 0.005rem rgba(255, 255, 255, 0.3) solid;
}

.center-sidebar {
    height: calc(100% - 225px);
    overflow-y: scroll;
    min-height: fit-content;
    -webkit-app-region: no-drag;
    width: 100%;
    overflow-x: hidden;
}
.center-sidebar::-webkit-scrollbar {
    width: 0 !important;
    background: transparent;
}

.bottom-sidebar {
    width: var(--sidebar-width, 65px);
    height: auto;
    overflow-y: hidden;
    border-top: 0.005rem rgba(255, 255, 255, 0.3) solid;
}
