<div id="top-menu-container">
    <div class="arrows-container">
        <a onclick="goBackwardButton();"><img src="./static/assets/images/left_arrow.png"/></a>
        <a onclick="goBackwardButton();"><img src="./static/assets/images/right_arrow.png"/></a>
    </div>
</div>