/* Icon Button */
.icon-button-container {
    width: 60%;
    height: 60%;
    text-align: center;
}

.icon-button {
    display: flex;
    position: relative;
    vertical-align: middle;
    line-height: initial;
    border: none;
    outline: none;
    /* Icon background */
    background-image: url("../../public/static/assets/images/icons/icon_default.svg");   
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    fill: currentColor;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    user-select: none;    
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
